body{
    background-color: #333333;
    text-align: center;
}

h1,h2 {
    color: gray;
    font-family: 'Jura',sans-serif;
}
h1 {
    font-size: 112px;
    width: 150px;
    height: 150px;
    border: 10px solid gray;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
h2 {
    font-size: 56px;
    margin-top: 20px;
    margin-bottom: 20px;
}
h3,a {
    color: white;
    font-family: 'Roboto', sans-serif;
}
a:link {
    text-decoration: none;
}
img {
    vertical-align: middle;
}
